/* Popup style */
.popup-box {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
}

.box {
  position: relative;
  width: 75%;
  margin: 0;
  min-height: 550px;
  height: 100%;
  max-height: 80dvh;
  top: 0;
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-icon {
  content: 'X';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 28px);
  top: calc(100vh - 85vh - 10px);
  background-color: var(--icn-pop-clr);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid var(--icn-pop-brd);
  font-size: 20px;
}

.close-icon:hover {
  color:var(--icn-pop-hov);
}

h5{
  text-align: center;
}

.book{
  min-width: 200px;
  display:flex;
  align-items: center;
  cursor: pointer;
}

.book:hover .cover{
  transform:rotateX(10deg) rotateY(-180deg);
}

.book:hover .page{
  transform:rotateX(10deg) rotateY(-180deg);
  z-index:4;
}

.cover{
  z-index:3;
  transition: all 3s;
}

.back-cover{
  z-index:0;
}

.cover,
.back-cover{
  height: 500px;
  width:350px;
  background: var(--book-cover-clr);
  border-radius: 2px 20px 20px 2px;
  position: absolute;
  box-shadow: 1px 1px 10px grey;
  transform: rotateX(10deg);
  transform-origin:center left;
}

.page,
.last-page{
  height: 480px;
  width: 345px;
  padding: 5px;
  background: var(--page-clr);
  position: absolute;
  border-radius: 2px 10px 10px 2px;;
  transform: rotateX(10deg);
  z-index:1;
  transform-origin:center left;
  text-align: left;
  margin-left: 0px;
}

.page:nth-child(2){
  transition-duration: 3s;
}
.page:nth-child(3){
  transition-duration: 2.5s;
}
.page:nth-child(4){
  transition-duration: 2s;
}
.page:nth-child(5){
  transition-duration: 1.5s;
}
.page:nth-child(6){
  transition-duration: 0.5s;
}

.book:hover .page:nth-child(2){
  transition-duration: 6s;
}
.book:hover .page:nth-child(3){
  transition-duration: 5.5s;
}
.book:hover .page:nth-child(4){
  transition-duration: 5s;
}
.book:hover .page:nth-child(5){
  transition-duration: 4.5s;
}
.book:hover .page:nth-child(6){
  transition-duration: 4s;
}
.cover img{
  transform: rotateX(10deg);
  width: 98%;
  height: 99%;
  margin-top: 1px;
  margin-left: 0px;
  border-radius: 15px;
}
.last-page div{
  margin-left: 10px;
  z-index:1
}
.last-page h5{
  text-align: center;
}
