body {
    background-color: var(--bck-clr) !important;
  }
  
  h1 {
    padding-top: 50px;
    text-align: center;
    color: var(--h1);
    font-size: 40px;
  }
  
  
  h2 {
    padding-top: 10px;
    text-align: center;
    color: var(--h2);
  }
  
  
  h4 {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    text-align: center;
    color: var(--h4);
  }

  .outerDiv {
    display: flex;
    flex-flow: column wrap;
    width: auto;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    width:225px;
    text-align: center;
  }

  .genreView{
    background-color: var(--bck-clr);
    margin-top: 7dvh;
    height: auto;
    padding: 5px;
    width: 100%;
    margin-bottom: 20px;
    color: var(--p);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }



 #submitButton:hover {
    opacity: 1;
  }

  .genreImg {
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
  }

